
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 50px;
}

#container{
    display: flex;
    width: 960px;
    height: 960px;
    margin-top: 50px;
    border: 10px solid rgb(126, 126, 126);
    border-radius: 15px;
    transition: 0.6s ease-out;
}
#container:hover{
    border: 10px solid rgb(195, 235, 122);
    transition: 0.2s ease-in;
}

canvas{
    box-sizing: border-box; /* the size includes the borders*/
    border: 1px solid rgb(240, 240, 240);
}

div div{
    display:flex;
    flex-direction: column;
}

#grid-size{
    margin-top: 50px;
}

button{
    padding: 10px 20px;
    color: rgb(236, 236, 236);
    background-color: rgb(39, 73, 117);
    font-size: 15px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
}

button:hover{
    opacity: 0.5;
    transition: 0.2s ease;
}