body{
    display: flex;
    justify-content: center;
}

#container{
    display: flex;
    border: 1px solid black;
    width: 960px;
    height: 960px;
    margin-top: 100px;

}

canvas{
    box-sizing: border-box; /* the size includes the borders*/
    border: 1px solid rgb(236, 235, 235);
}

div div{
    display:flex;
    flex-direction: column;
}