
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    display: flex;
    border: 1px solid black;
    width: 960px;
    height: 960px;
    margin-top: 100px;

}

canvas{
    box-sizing: border-box; /* the size includes the borders*/
    border: 1px solid rgb(236, 235, 235);
}
/* canvas:hover{
    background-color: red;
} */

div div{
    display:flex;
    flex-direction: column;
}

#grid-size{
    margin-top: 50px;
}